# pandas: Exercises
-  We will use the Occupation data set provided by Kevin Markham https://github.com/justmarkham.

In [1]:
# import pandas
import pandas as pd
from pandas import Series, DataFrame
# import Numpy
import numpy as np

## Load the Data Set

In [2]:
# load the data set
data = pd.read_csv('Occupation.csv', index_col = 'user_id')

## Explore Data

### 1. Show the first five observations.

In [3]:
pass
data.head(5)

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

### 2. How many rows are there in the data set?

In [5]:
pass
data.row

AttributeError: 'DataFrame' object has no attribute 'row'

### 3. How many columns are there in the data set?

In [ ]:
pass

### 4. Is there any missing value in the data set?

In [ ]:
pass
data.isnull()

### 5. Output the column names.

In [ ]:
pass

### 6. Output the 100th subject's index.

In [ ]:
pass

### 7. How old is the 15th subject?

In [ ]:
pass

### 8. How many subjects are younger than 25 years old?

In [ ]:
pass

## Aggregate Data

### 9. How many different occupations are there in the data set?

In [ ]:
pass

### 10. What is the most frequent occupation?

In [ ]:
pass

### 11. What is the mean age of the subjects?

In [ ]:
pass

### 12. What is the occupation of the oldest subject?

In [ ]:
pass

### 13. What is the least frequent occuptation among the male subjects?

In [10]:
pass
data[data.gender.isin(['F'])].occupation.value_counts().index[-1]

'technician'

### 14. What is the mean age of each occupation?

In [11]:
pass
data.groupby(by = 'occupation').age.mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [6]:
students = pd.read_csv('students.csv')

In [7]:
students.head(5)

    Fname Gender Major  GPA
0    Mike      M   FIN  3.4
1    Mary      F   MGT  3.7
2    Lily      F   MKT  3.2
3  Steven      M   FIN  2.9
4   Brian      M   MGT  3.1

In [8]:
data.tail(5)

         age gender     occupation zip_code
user_id
939       26      F        student    33319
940       32      M  administrator     2215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

In [10]:
students.row

AttributeError: 'DataFrame' object has no attribute 'row'

In [21]:
import matplotlib.pyplot as plt
students.shape

(7, 4)

In [14]:
students.dtypes

Fname      object
Gender     object
Major      object
GPA       float64
dtype: object

In [15]:
students.GPA.mean()

3.2714285714285714

In [26]:
students.sort_index('GPA').head(1)

ValueError: No axis named GPA for object type <class 'type'>

adict={'state':['NY','CA','MD'],'pop2010': [19378, 37254, 5774],
         'pop2018': [19542, 39557, 6043],
         'rev2010': [71545, 112372, 17064],
         'rev2018': [88541, 175017, 22427]}
frame=DataFrame(adict)
frame

adict= {'state':['NY','CA','MD'],
        'Pop2010':[19378, 37254, 5774],
        'Pop2018':[19542, 112372,17064],
        'rev2010':[71545,112372,17064],
        'rev2018':[88541,175017,22427]}
t = DataFrame(adict)
t